{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "typescript",
    "@typescript-eslint"
  ],
  "env": {
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "ignoreComments": true
      }
    ],
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "json": "never"
      }
    ]
  }
}